<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Civil.Properties.Settings.civilConnectionString" connectionString="Data Source=ANNA\SQLEXPRESS;Initial Catalog=civil;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>